.row.panel
  = minimal_form_for(@ad, method: 'patch', html: { multipart: true }) do |f|
    .row.collapse
      %h1.form-header= "Edit Your " + @ad.title + " Ad"
    .row
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Title
          .small-9.columns
            = f.input :title
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Description
          .small-9.columns
            = f.input :description, hint: "500 character limit"
        .row.collapse.prefix-radius.project-upload-field
          .small-3.columns
            %span.prefix Project Photo
          .small-9.columns
            = f.input :project_photo, as: "file"
            - if @ad.project_photo.present?
              %p.super Currently:
              = image_tag @ad.project_photo.url(:small_thumb), class: "th project-preview"
            = f.hidden_field :project_photo_cache
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Local Only?
          .small-9.columns.local-only
            = f.input :local_only, as: :radio_buttons
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Tags
          .small-9.columns
            = f.association :tags, collection: Tag.all, required: true, as: :select
          = f.submit "Save Changes", class: "button radius left"
          = link_to "Discard Changes", dashboard_path, class: "button radius secondary left"
