.row.panel
  = minimal_form_for(@ad, url: ads_path, method: 'post', html: { multipart: true }) do |f|
    .row.collapse
      %h1.form-header= "New Ad"
    .row
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Title
          .small-9.columns
            = f.input :title
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Description
          .small-9.columns
            = f.input :description, hint: "500 character limit"
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Project Photo
          .small-9.columns
            = f.input :project_photo, as: "file"
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Local Only?
          .small-9.columns.local-only
            = f.input :local_only, as: :radio_buttons
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Tags
          .small-9.columns
            = f.association :tags, collection: Tag.all, required: true, as: :select
          = f.submit "Create Ad", class: "button radius left"
          = link_to "Cancel", dashboard_path, class: "button radius secondary left"
