%h1= "New Ad"
= simple_form_for(@ad, url: ads_path, method: 'post', html: { multipart: true }) do |f|
  = f.input :title
  = f.input :description, hint: "500 character limit"
  = f.input :project_photo, label: "Project Photo", as: "file"
  = f.input :local_only, as: :boolean, checked_value: true, unchecked_value: false
  = f.association :tags, as: :select, label: "What kind of skill are you looking for?"
  = f.submit "Create Ad"
