%h1= @ad.title
%h5= @ad.description
%p
  = image_tag @user.profile_image.url(:small_thumb), class: "ad_creator_image"
  = "Posted by"
  = @user.first_name
  = @user.last_name

.tags
  %p Tagged as:
  - if @ad.tags.nil?
    %p No tags added yet.
  - else
    - @ad.tags.each do |tag|
      %p= tag.name

= image_tag @ad.project_photo.url(:thumb), class: "project_photo"

- if @ad.local_only
  %p Local Only, please
= link_to "Edit", edit_ad_path
