%li
  %h4
    = "#{current_user.first_name} #{current_user.last_name}"
%li.email
  %strong Email:
  = current_user.email
- if current_user.bio.present?
  %li
    %strong Bio:
    = current_user.bio
- else
  %li.bio
    %strong Bio:
    = "No bio added yet."

- if current_user.tags.present?
  %li.bio
    %strong= "Tagged: "
  - current_user.tags.each do |tag|
    = link_to "#{tag.name} "
- else
  %li
    %strong Tagged:
    = "No tags added yet."
