%h1= current_user.email
.user_nav
  - if user_signed_in?
    %li
      = link_to "Sign out", destroy_user_session_path, :method => :delete
      = link_to "Edit Profile", edit_profile_path
      = link_to "View Profile", profile_path
      = link_to "Create Gallery", new_gallery_path
  - else
    %li
      = link_to "Sign up", new_user_registration_path
    %p
      = "or"
    %li
      = link_to "Sign in", new_user_session_path
