.large-6.medium-6.small-12.columns
  .user_galleries.panel
    %h1.subheader My Galleries
    = link_to "New Gallery", new_gallery_path, class: "button tiny radius right"
    = link_to "Upload Photos", new_photo_path, class: "button tiny radius right"
    =render partial: "users/galleries"
  .user_profile.panel

    %h1.subheader My Profile
    = link_to "Edit Profile", edit_profile_path, class: "button tiny radius right"
    = link_to "View Profile", profile_path, class: "button tiny radius right"
    .row
      .columns
        %ul.vcard
          =render partial: "users/profile"
        = image_tag current_user.profile_image.url(:thumb), class: "th gallery_photo"

.large-6.medium-6.small-12.columns
  .user_ads.panel.callout.radius.columns
    %h1.subheader My Ads
    = link_to "New Ad", new_ad_path, class: "button tiny radius right"
    =render partial: "users/ads"
  .user_invitations.panel.callout.radius.columns
    %h1.subheader My Invitations
    %p You have no invitations.
  .user_collaborations.panel.callout.radius.columns
    %h1.subheader My Collaborations
    %p You have no active collaborations.
