%h1= "Edit profile"

= simple_form_for(@user, url: update_profile_path, method: 'patch', html: { multipart: true }) do |f|
  = f.input :first_name,  label: "First Name"
  = f.input :last_name,   label: "Last Name"
  = f.input :bio,         label: "Bio",       hint: "Must be less than 500 characters"
  = f.input :profile_image, label: "Profile Picture"
  - if current_user.profile_image.present?
    = image_tag(@user.profile_image.url)
  = f.hidden_field :profile_image_cache
  -# = f.association :tags, as: :select
  = f.submit "Save Changes"
