%h1= "Your Profile"
= link_to "Edit Profile", edit_profile_path
= link_to "Dashboard", dashboard_path

#profile_info
  %h4 Profile Picture
  - if @user.profile_image.present?
    = image_tag current_user.profile_image.url(:thumb), class: "profile_picture"
  %ul
    %li
      = "Email:"
      = @user.email
    %li
      = "Name:"
      = @user.first_name
      = @user.last_name
    %li
      = "Bio:"
      = @user.bio
