.row.panel
  = minimal_form_for(@photo, url: photos_path, method: 'post') do |f|
    .row.collapse
      %h1.form-header= "New Photos"
    .row
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Photo
          .small-9.columns
            = f.input :image, as: "file", multiple: true, required: true
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Caption
          .small-9.columns
            = f.input :caption, hint: "30 character limit", placeholder: "Landscape, 18\" x 24\""
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Gallery
          .small-9.columns
            = f.association :gallery, collection: Gallery.where(user_id: current_user.id), required: true, as: :select
          = f.submit "Upload Photos", class: "button radius left"
          = link_to "Cancel", dashboard_path, class: "button radius secondary left"
