.row.panel
  = simple_form_for(@gallery, url: galleries_path, method: 'post') do |f|
    .row.collapse
      %h1.form-header= "New Gallery"
    .row
      .large-12.columns
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Title
          .small-9.columns
            = f.input :title, placeholder: "Oil Paintings"
        .row.collapse.prefix-radius
          .small-3.columns
            %span.prefix Description
          .small-9.columns
            = f.input :description, placeholder: "About these paintings..."
          = f.submit "Create Gallery", class: "button radius left"
          = link_to "Cancel", dashboard_path, class: "button radius secondary left"
