.row.panel
  .small-12.medium-12.large-12.columns
    = link_to "Add Photos", new_photo_path, class: "show-for-medium-up button radius right"
    = link_to "Add Photos", new_photo_path, class: "show-for-small-only button tiny radius right"

    %h1= @gallery.title
    %h4.subheader= @gallery.description

  - if @gallery.photos.present?
    %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
      - @gallery.photos.each do |photo|
        %li
          = image_tag photo.image.url(:thumb), class: "th gallery_photo"
          %h5.subheader= photo.caption
  - else
    %p You haven't added any photos yet!
