%h1= @gallery.title
%p= @gallery.description
= button_to "Add Photos"

- if @gallery.photos.present?
  %table#gallery{:border => 1}
    %tr
      - @gallery.photos.each do |photo|
        %td
          = image_tag photo.image.url(:thumb), class: "gallery_photo"
          %p= photo.caption
- else
  %table#gallery{:border => 1}
    %tr
      %td
        %p You have no photos in this gallery.
